@using Wysnan.EIMOnline.MVC.Framework.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>@*    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="/Content/themes/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery-ui-1.8.18.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/external/jquery.bgiframe-2.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.widget.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.mouse.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.button.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.draggable.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.position.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.resizable.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.ui.dialog.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery.effects.core.min.js")" type="text/javascript"></script>
    <link href="/Content/style.css" rel="stylesheet" type="text/css" />
    @*<script type="text/javascript" src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")"></script>*@
    @*----------jqGrid---------------*@
    <link href="/Content/themes/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/JqGrid/i18n/grid.locale-cn.js" type="text/javascript"></script>
    <script src="/Scripts/JqGrid/jquery.jqGrid.src.js" type="text/javascript"></script>
    <script src="/Scripts/JqGrid/jquery.jqgrid.js" type="text/javascript"></script>
    <script src="/Scripts/JqGrid/jqGridExtensions.js" type="text/javascript"></script>
    @*-----------jqGrid---------------*@
</head>
@*<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
        </div>
        <div id="footer">
        </div>
    </div>
</body>*@ @*@Html.Partial("_DialogMessage")*@
<body>
    <div class="div_all">
        <div class="div_head">
        </div>
        <div class="div_body">
            <div class="div_left">
                <div>
                    <img alt="设置" width="20" height="20" id="img_leftSet" />
                </div>
                <div>
                    @Html.Menu()
                </div>
            </div>
            <div class="div_right">
                <div class="div_title">
                </div>
                <div class="div_main">
                    <ul class="WidgetColumn" id="WidgetColumn">
                        @RenderBody()
                    </ul>
                </div>
            </div>
            <div class="div_foot">
            </div>
        </div>
        <div style="float: right">
        </div>
        <div class="div_tool">
            <img alt="设置" width="20" height="20" id="imgSet" />
        </div>
    </div>
    <script src="/Scripts/page.js" type="text/javascript"></script>
</body>
</html>
