@model IEnumerable<Wysnan.EIMOnline.Common.Poco.SecurityUserRole>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                SystemStatus
            </th>
            <th>
                SecurityUserID
            </th>
            <th>
                SecurityRoleID
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SystemStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityRoleID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
